language: cpp

jobs:
  include:
  - os: windows
    env:
    - MINGW64_PATH="/C/tools/msys64/mingw64/bin"
    script:
    - $msys2 export PATH=$MINGW64_PATH:$PATH && mingw32-make all

before_install:
- |-
  case $TRAVIS_OS_NAME in
    windows)
      [[ ! -f C:/tools/msys64/msys2_shell.cmd ]] && rm -rf C:/tools/msys64
      choco uninstall -y mingw
      choco upgrade --no-progress -y msys2
      export msys2='cmd //C RefreshEnv.cmd '
      export msys2+='& set MSYS=winsymlinks:nativestrict '
      export msys2+='& C:\\tools\\msys64\\msys2_shell.cmd -defterm -no-start'
      export mingw64="$msys2 -mingw64 -full-path -here -c "\"\$@"\" --"
      export msys2+=" -msys2 -c "\"\$@"\" --"

      ## Install MSYS2 packages from:
      ## - https://packages.msys2.org/group/
      ## - https://packages.msys2.org/base/
      ## - https://packages.msys2.org/package/
      $msys2 pacman --sync --noconfirm --needed mingw-w64-x86_64-toolchain
      $msys2 pacman --sync --noconfirm --needed mingw-w64-x86_64-boost

      taskkill //IM gpg-agent.exe //F  # https://travis-ci.community/t/4967
      export PATH=/C/tools/msys64/mingw64/bin:$PATH
      export MAKE=mingw32-make  # so that Autotools can find it
      ;;
  esac
before_cache:
- |-
  case $TRAVIS_OS_NAME in
    windows)
      # https://unix.stackexchange.com/a/137322/107554
      $msys2 pacman --sync --clean --noconfirm
      ;;
  esac
cache:
  directories:
  - "$HOME/AppData/Local/Temp/chocolatey"
  - "/C/tools/msys64"

deploy:
  provider: releases
  api_key:
    secure: WGLscN0wLYl9N1fjn7TgX6cmIFk5cLjcsJFH/YDVfbyiBqE3ch07knW4V7gkd2iuWh2+0P3FUQmlvUVmW+X7oaPZN1HINiAnHSZqGvBG0M6lmFgJK773zHmL4BB/TGSD2l4C8RKu3a1/RIG9NQwF3t1bfD6T72qvAsV0gcYmmEFscS8bCVrlloow11mJVnrYHoJxbrztItYh67adYdg3qoGJE1gLc1omkbXhNBMrLBMLXYk5nuKVfGQd8FnY0nTzTXhpIg4UbnIjNIXvUx0Hc9ljn+1v/7X1OcnERRThQ30hjY0qs15GHgexMuz38ck3PKTgUbGyzbL1laj+0qIywn1i5o2tE2bpuTNv0kF9R6u5mtp+N0HHYD630mK7GXFos2115W7mPz0Uzb6wE2I170s3tdqyZ+Iq/pIUWhyDn9y8gvp2Q4QpTNA3+OLYon16AH66R+jDUG0+OVLEam3IYs0CnACREDpVIzIBhvOGIdgEKLF+4uLz2XdPPKod+SqUlo85Bd56TeO2vvLsZsKvPeRehsj5+18JYQlJShYGHxKWc8B3tQGL2n9oJXvRGuYsGRjtczmkSLoym3wVOcPBIE84jPcBQvfbGg0SZGSdT26olo7B2CTojfHJQgPXI2p3DGqWmE9p6JK3qumfOWVSnjAUx0/tzQnMlQLCxJQ6pUM=
  file: VHDTool.exe
  on:
    repo: TobiasFaller/VHDTool
  skip_cleanup: 'true'
